<% provide(:title, 'Attended Employees') %>
<h1>出勤中社員一覧</h1>

<div class="col-md-10 col-offset-3">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <td>社員番号</td>
        <td>名前</td>
      </tr>
      <% @user.each do |user| %>
        <tr>
          <td></td>
          <td><%= @user.name %></td>
        </tr>
      <% end %>
    </thead>
  </table>
</div>